*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:aliceblue;
}
.storage{
    text-align: center;
    width: 600px;
    padding: 3rem;
    border-radius: 10px;
    
}

  
